.container{
    text-align: center;
}


.flexbox {
    
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: #f8e2e2;
    margin: auto; /* sets the margin to automaticly fit the viewport */
}


ul {

    margin: 0;
    padding: 0;
    
}


.navigation-box {
    background-color: #f8e2e2;
    
}


@media (max-width: 330px) {
    
    .navigation-box {
        display: block;
    }
}

