.container{
    text-align: center;
}


.flexbox {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
}


@media (max-width: 330px) {
    
    .navigation-box {
        display: block;
    }
}

