.container {

    text-align: center;
}


.flexbox {
    
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f8e2e2;
    margin: auto; /* sets the margin to automaticly fit the viewport */
    vertical-align: middle;
    line-height: 150px;
   
}

.logo-box {
    width: 100%;
    height: auto;
}

a:link {

    text-decoration: none;
    margin-right: 10px;
    
  }


ul {

    margin: 0;
    padding: 0;
    
}




.navigation-box {

    background-color: #f8e2e2;
    border: 1px solid black;
    
}


@media (max-width: 330px) {
    
    .navigation-box {
        display: block;
    }
}

